@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="In 2016, I started working on development...">
    <meta name="author" content="Atakan Doğan Özban">
    <meta name="keywords" content="atakandoganozban, atakan özban, atakan doğan özban, atakan ozban">
    <title>Atakan Doğan Özban</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <style>

        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #181a1b;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            opacity: 1;
            animation: fadeout 1s forwards 2s;
        }

        @@keyframes fadeout {
            from {
                opacity: 1;
                pointer-events: all;
            }

            to {
                opacity: 0;
                pointer-events: none;
            }
        }

        .wrapper {
            display: grid;
            place-items: center;
            opacity: 0;
            animation: contentFadeIn 1s forwards 5s;
        }

        @@keyframes contentFadeIn {
            to {
                opacity: 1;
            }
        }

        /* Preloader END */

        .wrapper {
            display: grid;
            place-items: center;
            min-height: 5vh;
            opacity: 0;
            animation: contentFadeIn 1s forwards 3.5s;
        }

        @@keyframes contentFadeIn {
            to {
                opacity: 1;
            }
        }

        .index-title {
            display: grid;
            place-items: center;
            min-height: 5vh;
            opacity: 0;
            animation: contentFadeIn 1s forwards 2.5s;
        }

        @@keyframes contentFadeIn {
            to {
                opacity: 1;
            }
        }

        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('web_atakanozbancomtr/assets/img/wp.jpg') no-repeat center center fixed;
            background-size: cover;
            opacity: 0.25;
            z-index: -1;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

            .bd-mode-toggle .dropdown-menu .active .bi {
                display: block !important;
            }
    </style>

    <!-- Custom styles for this template -->
    <link href="~/web_atakanozbancomtr/assets/css/style.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-bg-dark">

    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Background image -->
    <div class="background-image"></div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Atakan</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="@Url.Action("index","main")">Home</a>
                    <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="@Url.Action("index","about")">About Me</a>
                    <a class="nav-link fw-bold py-1 px-0" href="@Url.Action("index","myprojects")">My Projects</a>
                </nav>
            </div>
        </header>

        @RenderBody()

        <footer class="mt-auto text-white-50">
            <div class="icons mb-2">
                <a href="https://www.youtube.com/channel/UCI0-jCkzh_txX2XaxhcXeDw" class="text-decoration-none text-white-50">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://open.spotify.com/user/6xirn4w7viqgds4jeanjz0678?si=62f854f6b7664a0d"
                   class="text-decoration-none text-white-50">
                    <i class="fa-brands fa-spotify"></i>
                </a>
                <a href="https://instagram.com/atakandoganozban" class="text-decoration-none text-white-50">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://github.com/atakanozban" class="text-decoration-none text-white-50">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://linktr.ee/atakanozban" class="text-decoration-none text-white-50">
                    <i class="fa-solid fa-link"></i>
                </a>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
