
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<main class="px-3">
    <h1>About me</h1>
    <p class="lead mb-5">
        I started my journey in development back in 2016, and by 2018 I had also become interested in music and 360 photography using just my cell phone. Around that time, I began learning piano, though I paused for a while before returning to development in 2020, where I advanced to an intermediate level in Python and later moved on to JavaScript and Node.js to create Discord bots. In 2022, I returned to piano and officially stepped into the world of music as an artist. Since then, I’ve been exploring the ambient and classical music genres while continuing to grow as a web developer, designer, and photographer.
    </p>
</main>

